<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UsersDataBase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\bulat\OneDrive\Desktop\DataBases\UsersDataBase.mdf;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
</configuration>